peppol-id-datatypes/src/main/resources/external/schemas/peppol-identifiers-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2015-2023 Philip Helger
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema id="Identifiers" 
           targetNamespace="http://busdox.org/transport/identifiers/1.0/" 
           elementFormDefault="qualified"
           xmlns="http://busdox.org/transport/identifiers/1.0/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      Common identifiers for WSDLs and Schemas
    </xs:documentation>
  </xs:annotation>

  <xs:element name="ParticipantIdentifier" type="ParticipantIdentifierType" />
  <xs:element name="DocumentIdentifier" type="DocumentIdentifierType" />
  <xs:element name="ProcessIdentifier" type="ProcessIdentifierType" />

  <xs:element name="RecipientIdentifier" type="ParticipantIdentifierType" />
  <xs:element name="SenderIdentifier" type="ParticipantIdentifierType" />
  <xs:element name="MessageIdentifier" type="MessageIdentifierType" />
  <xs:element name="ChannelIdentifier" type="ChannelIdentifierType" />

  <xs:complexType name="ParticipantIdentifierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DocumentIdentifierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ProcessIdentifierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="MessageIdentifierType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ChannelIdentifierType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>
