peppol-sml-client/src/main/resources/WEB-INF/wsdl/BDMSLService-1.0.wsdl

<!--
(C) Copyright 2018 - European Commission | CEF eDelivery

Licensed under the EUPL, Version 1.2 (the "License");
You may not use this file except in compliance with the License.
You may obtain a copy of the License at

https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/eupl_v1.2_en.pdf

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<wsdl:definitions xmlns:tns="ec:services:wsdl:BDMSL:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:lrs="ec:services:wsdl:BDMSL:data:1.0"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="BDMSLService"
                  targetNamespace="ec:services:wsdl:BDMSL:1.0"
                  xmlns:bd="http://busdox.org/serviceMetadata/locator/1.0/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="ec:services:wsdl:BDMSL:1.0">
            <s:import namespace="ec:services:wsdl:BDMSL:data:1.0" schemaLocation="BDMSLService-1.0.xsd"/>            
        </s:schema>
        <s:schema elementFormDefault="qualified"
                  targetNamespace=
                          "http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/Schema/">
            <s:import namespace="http://busdox.org/serviceMetadata/locator/1.0/"
                      schemaLocation="ServiceMetadataLocatorTypes-1.0.xsd"/>
        </s:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	<xsd:import
        		namespace="http://busdox.org/serviceMetadata/locator/1.0/"
        		schemaLocation="ServiceMetadataLocatorTypes-1.0.xsd">
        	</xsd:import>
     	</xsd:schema>
    </wsdl:types>
    <wsdl:message name="prepareChangeCertificateIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:PrepareChangeCertificate"/>
    </wsdl:message>
    <wsdl:message name="prepareChangeCertificateOut">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    </wsdl:message>
    <wsdl:message name="createParticipantIdentifierIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:SMPAdvancedServiceForParticipantService"/>
    </wsdl:message>
    <wsdl:message name="createParticipantIdentifierOut">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    </wsdl:message>
    <wsdl:message name="listParticipantsIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:ListParticipantsIn" />
    </wsdl:message>
    <wsdl:message name="listParticipantsOut">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:ListParticipantsOut" />
    </wsdl:message>
    <wsdl:message name="isAliveIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:IsAlive" />
    </wsdl:message>
    <wsdl:message name="isAliveOut"/>
    <wsdl:message name="clearCacheIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:ClearCache" />
    </wsdl:message>
    <wsdl:message name="clearCacheOut"/>
    <wsdl:message name="badRequestFault">
        <wsdl:part name="fault" element="bd:BadRequestFault"/>
    </wsdl:message>
    <wsdl:message name="internalErrorFault">
        <wsdl:part name="fault" element="bd:InternalErrorFault"/>
    </wsdl:message>
    <wsdl:message name="notFoundFault">
        <wsdl:part name="fault" element="bd:NotFoundFault"/>
    </wsdl:message>
    <wsdl:message name="unauthorizedFault">
        <wsdl:part name="fault" element="bd:UnauthorizedFault"/>
    </wsdl:message>
    <wsdl:message name="changeCertificateIn">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:part name="messagePart" element="lrs:ChangeCertificate"/>
    </wsdl:message>
    <wsdl:message name="changeCertificateOut">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    </wsdl:message>
    <wsdl:message name="ChangeCertificateFault">
    	<wsdl:part name="parameters" element="bd:UnauthorizedFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ChangeCertificateFault1">
    	<wsdl:part name="parameters" element="bd:BadRequestFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ChangeCertificateFault2">
    	<wsdl:part name="parameters" element="bd:InternalErrorFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BDMSLServiceSoap">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:operation name="PrepareChangeCertificate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:prepareChangeCertificateIn"/>
            <wsdl:output message="tns:prepareChangeCertificateOut"/>
            <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
            <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
            <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
        </wsdl:operation>
        <wsdl:operation name="CreateParticipantIdentifier">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:createParticipantIdentifierIn"/>
            <wsdl:output message="tns:createParticipantIdentifierOut"/>
            <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
            <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
            <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
        </wsdl:operation>
        <wsdl:operation name="ListParticipants">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:listParticipantsIn"/>
            <wsdl:output message="tns:listParticipantsOut"/>
            <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
        </wsdl:operation>
        <wsdl:operation name="IsAlive">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:isAliveIn"/>
            <wsdl:output message="tns:isAliveOut"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
        </wsdl:operation>
        <wsdl:operation name="ClearCache">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:clearCacheIn"/>
            <wsdl:output message="tns:clearCacheOut"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
        </wsdl:operation>
        <wsdl:operation name="ChangeCertificate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
            <wsdl:input message="tns:changeCertificateIn"/>
            <wsdl:output message="tns:changeCertificateOut"/>
            <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
            <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
            <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BDMSLServiceSoap" type="tns:BDMSLServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PrepareChangeCertificate">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:prepareChangeCertificateIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NotFoundFault">
                <soap:fault name="NotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnauthorizedFault">
                <soap:fault name="UnauthorizedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalErrorFault">
                <soap:fault name="InternalErrorFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BadRequestFault">
                <soap:fault name="BadRequestFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateParticipantIdentifier">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:createParticipantIdentifierIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NotFoundFault">
                <soap:fault name="NotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnauthorizedFault">
                <soap:fault name="UnauthorizedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalErrorFault">
                <soap:fault name="InternalErrorFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BadRequestFault">
                <soap:fault name="BadRequestFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ListParticipants">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:listParticipantsIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnauthorizedFault">
                <soap:fault name="UnauthorizedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalErrorFault">
                <soap:fault name="InternalErrorFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="IsAlive">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:isAliveIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClearCache">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:clearCacheIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InternalErrorFault">
                <soap:fault name="InternalErrorFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ChangeCertificate">
            <soap:operation soapAction="ec:services:wsdl:BDMSL:1.0:changeCertificateIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnauthorizedFault">
                <soap:fault name="UnauthorizedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalErrorFault">
                <soap:fault name="InternalErrorFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BadRequestFault">
                <soap:fault name="BadRequestFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BDMSLService">
        <wsdl:port name="BDMSLServicePort" binding="tns:BDMSLServiceSoap">
            <soap:address location="unknown"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
