peppol-sml-client/src/main/resources/WEB-INF/wsdl/ManageServiceMetadataService-1.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2015-2018 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<wsdl:definitions xmlns:tns="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:lrs="http://busdox.org/serviceMetadata/locator/1.0/" 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  name="ManageServiceMetadataService" 
                  targetNamespace="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/Schema/">
      <xs:import namespace="http://busdox.org/serviceMetadata/locator/1.0/" schemaLocation="peppol-sml-types-v1.xsd"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="createIn">
    <wsdl:part name="messagePart" element="lrs:CreateServiceMetadataPublisherService" />
  </wsdl:message>  
  <wsdl:message name="createOut">
  </wsdl:message>

  <wsdl:message name="readIn">
    <wsdl:part name="messagePart" element="lrs:ReadServiceMetadataPublisherService" />
  </wsdl:message>
  <wsdl:message name="readOut">
    <wsdl:part name="messagePart" element="lrs:ServiceMetadataPublisherService" />
  </wsdl:message>

  <wsdl:message name="updateIn">
    <wsdl:part name="messagePart" element="lrs:UpdateServiceMetadataPublisherService" />
  </wsdl:message>
  <wsdl:message name="updateOut">
  </wsdl:message>

  <wsdl:message name="deleteIn">
    <wsdl:part name="messagePart" element="lrs:ServiceMetadataPublisherID" />
  </wsdl:message>
  <wsdl:message name="deleteOut">
  </wsdl:message>

  <wsdl:message name="badRequestFault">
    <wsdl:part name="fault" element="lrs:BadRequestFault"/>
  </wsdl:message>
  <wsdl:message name="internalErrorFault">
    <wsdl:part name="fault" element="lrs:InternalErrorFault"/>
  </wsdl:message>
  <wsdl:message name="notFoundFault">
    <wsdl:part name="fault" element="lrs:NotFoundFault"/>
  </wsdl:message>
  <wsdl:message name="unauthorizedFault">
    <wsdl:part name="fault" element="lrs:UnauthorizedFault"/>
  </wsdl:message>  

  <wsdl:portType name="ManageServiceMetadataServiceSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:createIn" />
      <wsdl:output message="tns:createOut" />
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:readIn" />
      <wsdl:output message="tns:readOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:updateIn" />
      <wsdl:output message="tns:updateOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:deleteIn" />
      <wsdl:output message="tns:deleteOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ManageServiceMetadataServiceSoap" type="tns:ManageServiceMetadataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/:createIn" style="document"/>
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>      
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/:readIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>           
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/:updateIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>           
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://busdox.org/serviceMetadata/ManageServiceMetadataService/1.0/:deleteIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>           
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ManageServiceMetadataService">
    <wsdl:port name="ManageServiceMetadataServicePort" binding="tns:ManageServiceMetadataServiceSoap">
      <soap:address location="unknown"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
