peppol-sml-client/src/main/resources/WEB-INF/wsdl/ManageBusinessIdentifierService-1.0.wsdl

<!--

    Copyright (C) 2015-2017 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<wsdl:definitions 
  xmlns:tns="http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/" 
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:lrs="http://busdox.org/serviceMetadata/locator/1.0/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  name="ManageBusinessIdentifierService" 
  targetNamespace="http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" 
              targetNamespace="http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/Schema/">
      <s:import namespace="http://busdox.org/serviceMetadata/locator/1.0/" 
                schemaLocation="ManageBusinessIdentifierService-1.0.xsd"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:part name="messagePart" element="lrs:CreateParticipantIdentifier" />
  </wsdl:message> 
  <wsdl:message name="createOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message> 
  <wsdl:message name="deleteIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:part name="messagePart" element="lrs:DeleteParticipantIdentifier" />
  </wsdl:message>
  <wsdl:message name="deleteOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message> 
  <wsdl:message name="listIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:part name="messagePart" element="lrs:PageRequest" />
  </wsdl:message>
  <wsdl:message name="listOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:part name="messagePart" element="lrs:ParticipantIdentifierPage" />
  </wsdl:message>
  <wsdl:message name="prepareMigrateIn">
    <wsdl:part name="prepareMigrateIn" element="lrs:PrepareMigrationRecord"/>
  </wsdl:message>
  <wsdl:message name="prepareMigrateOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message>
  <wsdl:message name="migrateIn">
    <wsdl:part name="migrateIn" element="lrs:CompleteMigrationRecord"/>
  </wsdl:message>
  <wsdl:message name="migrateOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message>
  <wsdl:message name="createListIn">
    <wsdl:part name="createListIn" element="lrs:CreateList"/>
  </wsdl:message>
  <wsdl:message name="createListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message>
  <wsdl:message name="deleteListIn">
    <wsdl:part name="deleteListIn" element="lrs:DeleteList"/>
  </wsdl:message>
  <wsdl:message name="deleteListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </wsdl:message>
  <wsdl:message name="badRequestFault">
    <wsdl:part name="fault" element="lrs:BadRequestFault"/>
  </wsdl:message>
  <wsdl:message name="internalErrorFault">
    <wsdl:part name="fault" element="lrs:InternalErrorFault"/>
  </wsdl:message>
  <wsdl:message name="notFoundFault">
    <wsdl:part name="fault" element="lrs:NotFoundFault"/>
  </wsdl:message>
  <wsdl:message name="unauthorizedFault">
    <wsdl:part name="fault" element="lrs:UnauthorizedFault"/>
  </wsdl:message>  
  <wsdl:portType name="ManageBusinessIdentifierServiceSoap">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:operation name="Create">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:createIn" />
      <wsdl:output message="tns:createOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:deleteIn" />
      <wsdl:output message="tns:deleteOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>      
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:listIn" />
      <wsdl:output message="tns:listOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="PrepareToMigrate">
      <wsdl:input message="tns:prepareMigrateIn"/>
      <wsdl:output message="tns:prepareMigrateOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="Migrate">
      <wsdl:input message="tns:migrateIn"/>
      <wsdl:output message="tns:migrateOut"/>
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="CreateList">
      <wsdl:input message="tns:createListIn"/>
      <wsdl:output message="tns:createListOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>      
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input message="tns:deleteListIn"/>
      <wsdl:output message="tns:deleteListOut" />
      <wsdl:fault message="tns:notFoundFault" name="NotFoundFault"/>
      <wsdl:fault message="tns:unauthorizedFault" name="UnauthorizedFault"/>
      <wsdl:fault message="tns:internalErrorFault" name="InternalErrorFault"/>
      <wsdl:fault message="tns:badRequestFault" name="BadRequestFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageBusinessIdentifierServiceSoap" 
    type="tns:ManageBusinessIdentifierServiceSoap">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :createIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>          
    </wsdl:operation>
    <wsdl:operation name="CreateList">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :createListIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>          
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :deleteIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>         
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :deleteListIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>         
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :listIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>          
    </wsdl:operation>
    <wsdl:operation name="PrepareToMigrate">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :prepareMigrateIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>          
    </wsdl:operation>
    <wsdl:operation name="Migrate">
      <soap11:operation soapAction=
        "http://busdox.org/serviceMetadata/ManageBusinessIdentifierService/1.0/
        :migrateIn" 
        style="document" />
      <wsdl:input>
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFault">
        <soap:fault name="NotFoundFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedFault">
        <soap:fault name="UnauthorizedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalErrorFault">
        <soap:fault name="InternalErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadRequestFault">
        <soap:fault name="BadRequestFault" use="literal"/>
      </wsdl:fault>         
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageBusinessIdentifierService">
    <wsdl:port name="ManageBusinessIdentifierServicePort" binding="tns:ManageBusinessIdentifierServiceSoap">
    <soap:address location="unknown"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>